<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663021204331-ke70mfpo6b2omvs4ljeah5j08gsfs87p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663021204331-ke70mfpo6b2omvs4ljeah5j08gsfs87p</string>
	<key>API_KEY</key>
	<string>AIzaSyDBxLP1ziLYNrcIG_v8d2ILHjHQhAsNMHc</string>
	<key>GCM_SENDER_ID</key>
	<string>663021204331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendskou</string>
	<key>PROJECT_ID</key>
	<string>friendskou</string>
	<key>STORAGE_BUCKET</key>
	<string>friendskou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663021204331:ios:c6d06ddff957312c01122e</string>
</dict>
</plist>